# Python virtual environment
.venv/

# VSCode / PyCharm
.idea/
.vscode/

# Python cache
__pycache__/
*.py[cod]

# OS files
.DS_Store
Thumbs.db

# dbt artifacts
stock_dbt/target/
stock_dbt/dbt_packages/
stock_dbt/logs/
stock_dbt/analyses/
dbt.log

# Secrets and credentials
secrets/
.env
token.json
credentials.json
bq-key.json

# Output files
outputs/*.xlsx

# Dagster temp
tmp*/
